body {
    background: #222f41de;
}

h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 3rem;
}

table {
    margin: auto;
    border: 20px solid #18e1e8;
    border-spacing: 5px;
}

table td {
    width: 75px;
    height: 75px;
    background: #f5f6fa;
    font-size: 3em;
    line-height: 75px;
    text-align: center;
    border: 2px solid #a2c9ffda;
}

.siyah {
    background: #7b8aa0ee;

}